# SPDX-License-Identifier: MIT OR Apache-2.0
[Desktop Entry]
Type=Application
Name=Cap
Comment=Screenshots and annotations
Exec=/opt/mixos/bin/cap %f
Icon=accessories-screenshot
Terminal=false
Categories=Utility;Graphics;
MimeType=image/png;
StartupWMClass=dev.mixos.cap
