# SPDX-License-Identifier: MIT OR Apache-2.0
[Desktop Entry]
Type=Application
Name=Ced
Comment=MixOS text editor
Exec=/opt/mixos/bin/ced %F
Icon=dev.mixos.ced-symbolic
Terminal=false
Categories=Utility;TextEditor;
MimeType=text/plain;
StartupWMClass=dev.mixos.ced
